monitor:
  symbols:
    - "BTC/USDT"
    - "ETH/USDT"
    - "SOL/USDT"
  timeframes:
    - "4h"
    - "1d"
  # check_interval_minutes: 60
  # 使用 Cron 表达式：每4小时的第1分钟执行 (0:01, 4:01, 8:01 ...)
  cron_expression: "1 */4 * * *"

email:
  smtp_server: "smtp.qq.com"
  smtp_port: 587
  username: "your_email@qq.com"
  password: "YOUR_AUTH_CODE"
  sender_email: "your_email@qq.com"
  receiver_email: "receiver_email@qq.com"
  use_tls: true

binance:
  http_proxy: "http://127.0.0.1:7890"
  https_proxy: "http://127.0.0.1:7890"
